SERVER_ADDR=:8080
ROUTER_PREFIX=/api/v1

AI_SYSTEM_MYSQL_HOST=127.0.0.1
AI_SYSTEM_MYSQL_PORT=3306
AI_SYSTEM_MYSQL_USER=root
AI_SYSTEM_MYSQL_PASSWORD=
AI_SYSTEM_MYSQL_DB=ai_system
AI_SYSTEM_MYSQL_CONFIG=charset=utf8mb4&parseTime=True&loc=Local

REDIS_MODE=single
REDIS_ADDR=127.0.0.1:6379
REDIS_ADDRS=
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=change-me
